RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.westcode-dev.fr [NC]
RewriteRule ^(.*)$ https://westcode-dev.fr/$1 [L,R=301]

RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]