RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.test-wc.fr [NC]
RewriteRule ^(.*)$ https://test-wc.fr/$1 [L,R=301]

RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]