header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#bloc-head {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 20px;
}

#bloc-nav {
    display: flex;
}

#logo {
    width: 250px;
}