header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#bloc-head {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 30px 40px 0 40px;
}

#logo {
    width: 250px;
}

nav{
    display: flex;
}
li{
    cursor: pointer;
    a{
        text-decoration: none;
        color: white;
    }
}
#main-menu {
    display: flex;
    li{
        list-style: none;
        font-size: 1.8em;
        margin-right: 20px;
    }
}
#social-menu{
    display: flex;
    li{
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
}


