#background-img-3 {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: inherit;
    object-fit: cover;
    filter: brightness(40%);
    opacity: 0;
}

#main-prez-services {
    z-index: 2;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#title-services {
    z-index: 2;
    width: 60%;
    height: 60%;
    margin-left: 100px;
    h1 {
        font-size: 5em;
        @include Gradient-1;
        color: transparent;
        margin: 0;
        @include Font-Title-h1-7;
        margin-top: 50px;
        margin-bottom: 40px;
        text-transform: uppercase;
        opacity: 0;
    }
    p {
        font-size: 1.8em;
        color: white;
        opacity: 0;
        @include Font-Title-h1-8;
        font-weight: 200;
    }
}

// Swiper 3
#swiper-3-bloc {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: 120px;
}
.swiper-wrapper-3{
    height: 100%;
    margin-top: 30px;
}
.swiper-3 {
    width: 80%;
    max-width: 1400px;
    height: 100%;
}
.swiper-slide-3 {
    width: 300px!important;
    background-color: rgb(0, 0, 0);
    filter: blur(4px);
}
.swiper-slide-active {
    filter: blur(0);
}
.slide-prez-3 {
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8%;
    overflow: hidden;
    box-shadow: 0 0 4px rgb(56, 56, 56);
    .slide-prez-top{
        height: 60%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h2 {
            position: relative;
            bottom: 120px;
            width: 90%;
            margin: auto;
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 2em;
            text-transform: uppercase;
            @include Font-Title-h1-3;
        }
    }
    .slide-prez-bottom{
        height: 40%;
        background-color: rgb(15, 15, 15);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            width: 90%;
            margin: auto;
            color: white;
            font-size: 1.2em;
            text-align: center;
            @include Font-p-1;
        }
    }
}
.swiper-button-prev-3,
.swiper-button-next-3 {
    color: white !important;
    border: solid 2px $COLORSEC;
    border-radius: 50%;
}
.swiper-button-prev-3 {
    padding: 10px 22px 10px 17px;
}
.swiper-button-next-3 {
    padding: 10px 17px 10px 22px;
}

// Main
#services-main{
    width: 100%;
    background-color: black;
}
#services-main-bloc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    .services-bloc{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        .services-box{
            width: 90%;
            max-width: 1200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            span{
                width: 45%;
                height: 450px;
                img{
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-mask-image: url(https://test-wc.fr/assets/images/ju.svg);
                    mask-image: url(/assets/images/ju.svg);
                    -webkit-mask-position: center;
                    mask-position: center;
                    -webkit-mask-size: 110%;
                    mask-size: 110%;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                }
            }
            aside{
                width: 50%;
                h2{
                    @include Gradient-1;
                    color: transparent;
                    font-size: 3em;
                    @include Font-Title-h1-7;
                    text-transform: uppercase;
                }
                p{
                    color: white;
                    font-size: 1.2em;
                    @include Font-p-1;
                }
            }
        }
    }
}
.second-prez-services{
    padding-bottom: 50px;
}
#second-prez-text-bloc{
    p{
        @include Font-p-1;
    }
    a{
        text-decoration: none;
    }
}
#contact-button{
    text-transform: uppercase;
    border: none;
    border-bottom: solid 2px $COLORSEC;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    font-size: 1.2em;
    padding: 10px 10px;
    display: block;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 600ms, color 400ms;
    @include Font-Title-h1-8;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-appearance: none;
    &:hover {
        color: black;
        background-color: $COLORSEC;
    }  
}

// Responsive
@media (max-width: 1200px) {
    #title-services{
        h1{
            font-size: 4.5em;
        }
        p{
            font-size: 1.6em;
        }
    }
}

@media (max-width: 1024px) {
    #title-services {
        width: 70%;
        h1 {
            font-size: 4.3em;
        }
        p {
            font-size: 1.4em;
        }
    }
    #services-main-bloc{
        .services-bloc{
            .services-box{
                aside{
                    p{
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media (max-width: 962px) {
    #services-main{
        #services-main-bloc{
            .services-bloc {
                .services-box aside {
                    h2{
                        font-size: 2.6em;
                    }
                }
            }
        }   
    }
}


@media (max-width: 768px) {
    #title-services {
        width: 80%;
        margin-left: 40px;
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 1.3em;
        }
    }
    .swiper-3 {
        width: 90%;
    }
    #swiper-3-bloc{
        margin-top: -350px;
        background-color: transparent;
        .swiper-slide-3{
            background-color: transparent;
        }
    }
    .swiper-button-prev-3,
    .swiper-button-next-3 {
        border: unset;
        border-radius: unset;
    }
    .swiper-button-prev-3 {
        padding: unset;
    }
    .swiper-button-next-3 {
        padding: unset;
    }
    #services-main{
        margin-top: -80px;
        padding-top: 10px;
        #services-main-bloc{
            .services-bloc{
                margin-bottom: 120px;
                .services-box{
                    flex-direction: column;
                    span{
                        width: 80%;
                        height: 500px;
                    }
                    aside{
                        width: 90%;
                        h2{
                            margin-top: 10px;
                            text-align: center;
                        }
                        p{
                            font-size: 1.2em;
                        }
                    }
                }
                .services-box-reverse{
                    flex-direction: column-reverse;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #title-services {
        width: 90%;
        margin-left: 20px;
        h1 {
            font-size: 3.5em;
        }
        p {
            font-size: 1.2em;
        }
    }
    #swiper-3-bloc {
        position: relative;
    }
}

@media (max-width: 576px) {
    #title-services {
        width: 90%;
        margin-left: 10px;
        h1 {
            font-size: 3.2em;
        }
    }
    #swiper-3-bloc {
        top: 90px;
    }
    .swiper-3 {
        width: 90%;
    }
    #services-main {
        padding-top: 90px;
        #services-main-bloc {
            .services-bloc {
                margin-bottom: 100px;
                .services-box {
                    span {
                        width: 90%;
                        height: 400px;
                    }
                    aside {
                        h2 {
                            font-size: 2.3em;
                        }
                        p{
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
    .second-prez-services {
        #second-prez-text-bloc{
            p{
                width: 90%;
            }
        }
    }
}

@media (max-width: 450px) {
    #title-services {
        width: 100%;
        margin-left: 0px;
        h1 {
            font-size: 2.5em;
        }
        p {
            width: 90%;
            font-size: 1.1em;
        }
    }
    #swiper-3-bloc {
        top: 120px;
        .slide-prez-3 {
            height: 260px;
            .slide-prez-top{
                h2 {
                    font-size: 1.7em;
                    bottom: 95px;
                }
            }
            .slide-prez-bottom{
                p {
                    font-size: 0.9em;
                }
            }
        }
    }
    .swiper-slide-3 {
        width: 250px !important;
    }
    .swiper-3 {
        width: 95%;
    }
    #services-main {
        #services-main-bloc {
            .services-bloc {
                margin-bottom: 50px;
                .services-box {
                    span {
                        height: 300px;
                    }
                    aside {
                        h2 {
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
    .second-prez-services {
        padding-top: 50px;
        margin-bottom: 70px;
    }
}

